/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2018, 10:35:46 PM
    Author     : Satyam
*/

.heading{
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
  margin-top: 10px;
  background-color: black;
  color: white;
}
.horizontal-buttons{
    height: 30px;
    background-color: red;
}
.first{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.second{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.third{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.fourth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.fifth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.sixth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.seventh{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.eighth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.ninth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.tenth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.eleventh{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.twelth{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.thirteen{
    float: left;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}
.fourteen{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}    
.fifteen{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.sixteen{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.seventeen{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
.eighteen{
    float: left;
     margin-left: 10px;
     padding: 5px;
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}
#unique{
    color: yellow;
}
.left-box{
     margin-left: 20px;
     margin-top: 10px;
     float: left;
}
.left-box{
    float: left;
    position: relative;
    height: 332px;
    width: 249px;
}
#left-box-image{
    height: 260px;
    width: 325px;
}
#write-over{
   font-weight: normal;
    font-size: 200%;
    line-height: 23px;
    color: #fff;
    padding: 0;
    letter-spacing: -0.43px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    overflow: hidden;
    width: 100%;
}
#write-over:hover{
    text-decoration: underline;
}
.news-headings{
    float: left;
    margin-left: 100px;
    width: 249px;
    height: 332px;
}
.news-headings ul.list li{
    position: relative;
    padding-right: 14px;
}
.list{
    width: 450px;
}
ul.list li {
    list-style: none;
    border-bottom: 1px solid #eceaea;
    font-size: 17px;
    color: #000;
    line-height: 24px;
    font-family: sans-serif;
    margin-bottom: 5px;
}
ul.list li a{
   color: #000;
}
.clear{
    clear: both;
}
.latest-news{
    float: left;
}
.latest-news h2{
    margin-left: 10px;
    margin-top: 0;
    border-bottom: 5px solid red;
    width: 350px;
}
.latest-news h2:hover{
    text-decoration: underline;
}
.latest{
    width: 450px;
}
ul.latest li {
    list-style: none;
    border-bottom: 1px solid #eceaea;
    font-size: 17px;
    color: #000;
    line-height: 24px;
    font-family: sans-serif;
    margin-bottom: 5px;
}
ul.latest li a{
   color: #000;
}